.header {
  text-align: center;
  margin: 2rem;
}
body{
  padding: 1rem 5rem;
}

h3 {
  text-align: center;
  margin: 0;
}
button {
  margin: 5px;
  height: 36px;
  background-color: darkgray;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-form {
  display: flex;
  flex-direction: column;
}
#inputfront,
#inputback {
  margin-right: 22px;
  padding: 10px;
  margin: 5px 0px 5px 5px;
  margin-left: 0;
  border-radius: 0.5rem;
  width: 15rem;
}


.form-items {
  display: flex;
  align-items: center;
}
.body-app {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input-card {
  display: flex;
  justify-content: center;
  margin: 10px;
  align-items: center;
}

.CardInfo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.CardList {
  margin: 10px 5px;
  overflow: auto;
  height: 300px;
  width: 500px;
  text-align: -webkit-right;
  border: 2px solid black;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: 200px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition-duration: 300ms;
  overflow-wrap: anywhere;
}

.card-front {
  background-color: #00b9f9;
  margin: 0.2rem;
}

.card-back {
  background-color: #f96f6f;
  margin: 0.2rem;

}

.main-card {
  position: relative;
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.main-card .card {
  position: absolute;
  width: 200px;
  height: 300px;
}

td,
.del {
  cursor: pointer;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 3px;
  height: 16px;
}
.Table-Header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#mytable {
  direction: rtl;
  table-layout: inherit;
  width: 100%;
}

#table-header-title{
  margin: 0;
  text-align: center;
}

.showcolumn-div {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #9b9b9b;
  justify-content: center;
}


#input-label {
  margin: 10px;
  margin-right: 0;
}

#mytable.mode-front td.Back-class,
#mytable.mode-front th.Back-class {
  display: none;
}

#mytable.mode-back td.Front-class,
#mytable.mode-back th.Front-class {
  display: none;
}

.main-card {
  perspective: 600px;
  transform-style: preserve-3d;
  transition-duration: 300ms;
}

.main-card-container {
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
}

.main-card .card-front {
  transform: rotateY(0) translateZ(1px);
}

.main-card .card-back {
  transform: rotateY(180deg);
}

.mode-all .main-card {
  transform: rotateY(0deg);
}

.mode-all .main-card .card-front {
  transform: translateX(105px) rotateY(-10deg);
}

.mode-all .main-card .card-back {
  transform: translateX(-105px) rotateY(10deg);
}

.mode-front .main-card {
  transform: rotateY(0);
}

.mode-back .main-card {
  transform: rotateY(180deg);
}

input.input-Front,
input.input-Back {
  text-align: center;
  direction: ltr;
  width: auto;
}

.FrontDiv p,.BackDiv p  {
  margin-top: 0px;
  margin-bottom: 0px;
}
.FrontDiv,.BackDiv,.edit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

.icons-Front,.icons-Back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fa-square-check {
  font-size: 22px;
}

.fa-rectangle-xmark {
  font-size: 20px;
}

.fa-square-check:hover {
  color: #06b31d;
  font-weight: 600;
  font-size: 22px;
}
.fa-rectangle-xmark:hover {
  color: #da0a0a;
  font-weight: 600;
}

.fa-trash-can:hover {
  color: #da0a0a;
}

.fa-pen-to-square:hover {
  color: #008cff;
}

.input-Front,
.input-Back,
.fa-square-check,
.fa-rectangle-xmark {
  display: none;
}


.edit-mode-off {
  display: none;
}

.edit-mode-on,.Action-Div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-values{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
}
.all-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#btn-save{
  background-color: #06b31d;
}
button#btn-save:hover{
  background-color:aquamarine;
}
#btn-clear{
  background-color:darkgoldenrod;
}
button#btn-clear:hover{
  background-color:coral;
}
.last-cards-body{
display: flex;
justify-content: center;
align-items: center;
}
.header-tiltle{
  font-size: x-large;
  font-weight: bold;
}
.last-cards{
  flex-direction: column;
  margin:0 1rem;
}

/* Media Queries */
@media screen and (max-width: 425px) {

}