.header {
  text-align: center;
  margin: 1rem;
}

body {
  padding: 0 4rem;
}

.title-last-card {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

button {
  margin: 5px;
  height: 36px;
  background-color: darkgray;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
  display: flex;
  flex-direction: column;
}

#inputfront,
#inputback {
  margin-right: 22px;
  padding: 10px;
  margin: 5px 0px 5px 5px;
  margin-left: 0;
  border-radius: 0.5rem;
  width: 30vw;
}


.form-items {
  display: flex;
  align-items: center;
}

.body-app {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid gray 1px;
  padding-top: 1rem;
}

.input-card {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  align-items: center;
}

.card-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  margin: 10px;
  padding: 10px;
}

.card-list {
  margin: 10px 5px;
  overflow: auto;
  max-height: 60vh;
  text-align: -webkit-right;
  border: 2px solid black;
  border-radius: 10px;
}

.card {
  border-radius: 10px;
  padding: 5px;
  color: white;
  width: 20vw;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition-duration: 300ms;
  overflow-wrap: anywhere;
}

.card-front {
  background-color: #00b9f9;
  margin: 0.2rem;
}

.card-back {
  background-color: #f96f6f;
  margin: 0.2rem;

}

.main-card {
  position: relative;
  width: 30vw;
  height: 100px;
  cursor: pointer;
}

.main-card .card {
  position: absolute;
  width: 30vw;
  height: 100px;
}

thead {
  position: sticky;
  top: 0;
  background-color: darkgray;
}

td,
.del {
  cursor: pointer;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 3px;
  height: 16px;
}

.Table-Header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5rem;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#mytable {
  direction: rtl;
  table-layout: inherit;
  width: 100%;
}

#table-header-title {
  margin: 0.4rem 0;
  text-align: center;
}

.showcolumn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#mytable.mode-front td.back-class,
#mytable.mode-front th.back-class {
  display: none;
}

#mytable.mode-back td.front-class,
#mytable.mode-back th.front-class {
  display: none;
}

.main-card {
  perspective: 600px;
  transform-style: preserve-3d;
  transition-duration: 300ms;
}

.main-card-container {
  perspective: 300px;
  transform-style: preserve-3d;
  position: relative;
  padding-top: 1rem;
}
.main-card-container.mode-all {
  padding-top: 4rem;
}

.main-card .card-front {
  transform: rotateX(0) translateZ(1px);
}

.main-card .card-back {
  transform: rotateX(180deg);
}

.mode-all .main-card {
  transform: rotateX(0deg);
}

.mode-all .main-card .card-front {
  transform: translateY(55px) rotateX(10deg);
}

.mode-all .main-card .card-back {
  transform: translateY(-55px) rotateX(-10deg);
}

.mode-front .main-card {
  transform: rotateX(0);
  height: 50px;
}

.mode-back .main-card {
  transform: rotateX(180deg);
  height: 50px;
}

input.input-front,
input.input-back {
  text-align: center;
  direction: ltr;
  width: auto;
}

.front-div p,
.BackDiv p {
  margin-top: 0px;
  margin-bottom: 0px;
  overflow-wrap: anywhere;
}

.front-div,
.BackDiv,
.edit-div {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  width: auto;
}

.icons-Front,
.icons-Back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.fa-square-check {
  font-size: 22px;
}

.fa-rectangle-xmark {
  font-size: 20px;
}

.fa-square-check:hover {
  color: #06b31d;
  font-weight: 600;
  font-size: 22px;
}

.fa-rectangle-xmark:hover {
  color: #da0a0a;
  font-weight: 600;
}

.fa-trash-can:hover {
  color: #da0a0a;
}

.fa-pen-to-square:hover {
  color: #008cff;
}

.input-front,
.input-back,
.fa-square-check,
.fa-rectangle-xmark {
  display: none;
}


.edit-mode-off {
  display: none;
}

.edit-mode-on,
.action-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-values {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#btn-save {
  background-color: #06b31d;
}

button#btn-save:hover {
  background-color: aquamarine;
}

#btn-clear {
  background-color: darkgoldenrod;
}

button#btn-clear:hover {
  background-color: coral;
}

.last-cards-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-tiltle {
  font-size: x-large;
  font-weight: bold;
}

.last-cards {
  flex-direction: column;
  margin: 0 2rem;
  margin-right: 0;
}

.data-table {
  padding: 0 1rem;
  padding-right: 0;
  width: 85vw;
  margin-top: 0.2rem;
}

.input-label {
  font-weight: bold;
}

/* Media Queries */
@media screen and (max-width: 480px) {

  .last-cards-body {
    flex-direction: column;
  }

  body {
    padding: 0 0.2rem;
  }

  .card {
    height: 35px;
    font-size: small;
  }

  .main-card .card {
    height: 45px;
    width: 70vw;

  }
  .main-card-container{
    padding-top: 0;
  }

  .main-card-container.mode-all {
    padding: 0;
  }

  .body-app {
    flex-direction: column;
  }

  .card-lis {
    height: 200px;
    margin: 5px;
  }

  .header {
    margin: 0;
  }

  .input-label {
    display: none;
  }

  .title-last-card {
    font-size: 0.8rem;
  }

  .mode-all .main-card .card-front {
    transform: translateY(30px) rotateX(10deg);
  }

  .mode-all .main-card .card-back {
    transform: translateY(-30px) rotateX(-10deg);
  }

  .data-table {
    padding: 0 0.2rem;
  }

  .last-cards {
    margin: 0;
  }

}